<ion-pane>
    <ion-content class="padding">
      <h1>
        Hackathon App
      </h1>

      <button class="button button-block button-light" ng-click="goTo('home')">
        Go To Facebook Page
      </button>
      <button class="button button-block button-light" ng-click="goTo('sensor')">
        Go To Sensor Page
      </button>
      <button class="button button-block button-light" ng-click="goTo('applist')">
        See Applications Installed
      </button>
    </ion-content>
</ion-pane>
