<ion-pane>
    <ion-content class="padding">
      <h1>
        Welcome to Hackathon App.
      </h1>

      <button class="button button-block button-light" ng-click="goTo('home')">
        Go To Facebook Page
      </button>
      <button class="button button-block button-light" ng-click="goTo('sensor')">
        Go To SAPy's Sensor Page
      </button>
      <button class="button button-block button-light" ng-click="goTo('userstate')">
        Go to User State
      </button>
    </ion-content>
</ion-pane>
