<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Hikeathon</h1>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <button class="button button-positive" ng-click="goTo('app')">Go to home</button>
            <button class="button button-outline button-balanced" ng-click="refreshAll()">
                Refresh All
            </button>
        </div>
        <div class="list">

            <div class="item item-text-wrap item-divider">
                User Details
            </div>
            <div class="item item-text-wrap balanced" ng-show="$root.bssid && topWifis[0].bssid === $root.bssid">
                You are using your highest ever used wifi right now So you are at Home<span ng-if="topWifis.length === 1">(Or office)</span> right now.
                <div class="nbText calm">N.B.-(total usage intelligence is learnt over time , try using the app for several days over different location and wifi and see changes in the outcome.)</div>
            </div>
            <div class="item item-text-wrap balanced" ng-show="$root.bssid && topWifis[1].bssid === $root.bssid">
                You are using your second most used wifi right now So you are at Office right now.
                <div class="nbText calm">N.B.-(total usage intelligence is learnt over time , try using the app for several days over different location and wifi and see changes in the outcome.)</div>
            </div>
            <div ng-repeat="(key, value) in userAction" class="item item-text-wrap calm">
                {{key}} - {{value}}
            </div>
            <div class="item item-text-wrap balanced" ng-show="$root.maxacc">
                <div class="royal">
                    Your maximum accelaration is <pre>{{$root.maxacc}} (*unit in meter/sec^2)</pre>
                </div>
            </div>
            <div class="item item-text-wrap item-divider">
                Most Used Wifi All time
            </div>
            <div ng-repeat="topWifi in topWifis" class="item item-text-wrap" ng-class="{'highLightCard' : bssid === topWifi.bssid}">
                <div>Wifi {{$index+1}}: {{topWifi.ssid}}</div>
                <div>Wifi Id: {{topWifi.bssid}}</div>
                <div>Total Usage: {{topWifi.usedForSeconds / (1000 * 60 * 60 *24)|number:4}} Days</div>
                <div>Last Session Duration: {{topWifi.currentSession / (1000 * 60 * 60)|number:3}} Hours</div>
                <div ng-if="bssid === topWifi.bssid">Signal Strength: {{signalLevel}} (**This wifi is in use)</div>
            </div>
            <div class="item item-text-wrap highLightCard" ng-if="!topWifis">
                No wifi yet. Please connect to different wifi(home/office) and allow the system some time to learn and apply intelligence on gathered data.
            </div>

            <div class="item item-text-wrap item-divider">
                Accelometer Details
            </div>

            <a class="item item-text-wrap" href="javascript:void(0)">
                Acceleration X : {{AccelerationX}}
            </a>
            <a class="item item-text-wrap" href="javascript:void(0)">
                Acceleration Y : {{AccelerationY}}
            </a>
            <a class="item item-text-wrap" href="javascript:void(0)">
                Acceleration Z : {{AccelerationZ}}
            </a>
            <div class="item item-text-wrap item-divider">
                Device Orientation
            </div>

            <a class="item item-text-wrap" href="javascript:void(0)">
                Magnetic Orientation : {{orientattion}}
            </a>
        </div>
        <br>
        <br>
    </ion-content>
</ion-pane>
